<!doctype html>
<html class="h-full" lang="{{ request.locale.iso_code }}">
  <head>
    <!-- Google tag (gtag.js) -->
    {% comment %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-G049N67TW6"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-G049N67TW6');
      </script>
    {% endcomment %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
   
    {%- liquid
      render 'vite-tag' with 'theme.css'
      render 'vite-tag' with 'theme.js'
    -%}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Manrope:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    >

    {{ content_for_header }}

    {% comment %}
      <meta name="facebook-domain-verification" content="viheeoruvhzocmvddoegys69vjew5a" />
      <meta name="google-site-verification" content="dynBU3yrJmgaXPt7o8skYg3XjSMA8s0YEL-n7sST57w" />
    {% endcomment %}
    <!-- Google tag (gtag.js) -->
    {% comment %} <script async src="https://www.googletagmanager.com/gtag/js?id=G-5C7ZZRMT05"></script> {% endcomment %}
    {% comment %}
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5C7ZZRMT05');
      </script>
    {% endcomment %}
  </head>

  <body>
    {% section 'navigation' %}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% section 'footer-new' %}
  </body>
</html>
