<section class="bg-bp-grey-2 py-6">
  <div class="container">
    <div class="flex flex-wrap items-center justify-between">
      <div class="w-full lg:w-5/12">
        <div>
          <span class="mb-3 inline-block bg-bp-teal-light px-2 py-1 text-sm font-bold text-white">
            {{ section.settings.label }}
          </span>
          <h2 class="mb-3 font-fraunces text-5xl text-bp-teal-dark">
            {{ section.settings.heading }}
          </h2>
          <p class="mb-6 text-bp-blue-dark">
            {{ section.settings.paragraph }}
          </p>

          <a href="{{ section.settings.cta_link }}" class="group flex items-center">
            <p class=" m-0 font-semibold text-bp-heading">{{ section.settings.cta_text }}</p>
            <div class="px-1">
              <svg
                class="transition-transform duration-200 group-hover:translate-x-0.5"
                width="16"
                height="17"
                viewBox="0 0 16 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M6 4.5L10 8.5L6 12.5" stroke="#F07961" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
        </div>
      </div>
      <div class="w-full lg:w-7/12">
        {% if section.settings.section_image %}
          {% render 'product-media', media: section.settings.section_image %}

        {% else %}
          <img
            class="w-full "
            src="https://cdn.shopify.com/s/files/1/0667/4248/5269/files/boost-your-mood.png?v=1707933311"
            alt="Boost Your Mood patches "
          >
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Boost Your Mood",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading Text"
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": "paragraph"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    },
    {
      "type": "image_picker",
      "id": "section_image",
      "label": "Section Image"
    }
  ]
}
{% endschema %}
