{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="newsletter center px-12 {% if section.settings.full_width == false %}newsletter--narrow page-width{% endif %}">
  <div class="newsletter__wrapper color-{{ section.settings.color_scheme }} gradient content-container isolate{% if section.settings.full_width %} content-container--full-width{% endif %} section-{{ section.id }}-padding">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}

        {%- when 'heading' -%}
          <div class="content_sec">
            <h2 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
              {{ block.settings.heading | escape }}
            </h2>
        {%- when 'paragraph' -%}
          <div class="newsletter__subheading rte" {{ block.shopify_attributes }}>
            {{ block.settings.text }}
          </div>
          </div>
        {%- when 'email_form' -%}
          <div class="form_sec" {{ block.shopify_attributes }}>
            {% form 'customer', class: 'newsletter-form' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M17 20.5H7C4 20.5 2 19 2 15.5V8.5C2 5 4 3.5 7 3.5H17C20 3.5 22 5 22 8.5V15.5C22 19 20 20.5 17 20.5Z" stroke="#26262680" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17 9L13.87 11.5C12.84 12.32 11.15 12.32 10.12 11.5L7 9" stroke="#26262680" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>

                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="Enter your email here..."
                    required
                  >
                  {% comment %}
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                  {% endcomment %}
                  <button
                    type="submit"
                    class="newsletter-form__button field__button"
                    name="commit"
                    id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}"
                  >
                    Subscribe Now
                  </button>
                </div>
                {%- if form.errors -%}
                  <small
                    class="newsletter-form__message form__message"
                    id="Newsletter-error--{{ section.id }}"
                  >
                    {%- render 'icon-error' -%}
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3
                  class="newsletter-form__message newsletter-form__message--success form__message"
                  id="Newsletter-success--{{ section.id }}"
                  tabindex="-1"
                  autofocus
                >
                  {% render 'icon-success' -%}
                  {{- 'newsletter.success' | t }}
                </h3>
              {%- endif -%}
            {% endform %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% style %}
  #shopify-section-{{ section.id }}{
      background-image: url("https://cdn.shopify.com/s/files/1/0667/4248/5269/files/Rectangle_9.png?v=1680100549");
      background-repeat: no-repeat;
      background-position: 100% 100%;
      background-size: cover;
      padding: 82px 0
    }
    #shopify-section-{{ section.id }} .newsletter__wrapper h2{
      font-weight: 800;
      font-size: 42px;
      line-height: 56px;
      color: #FFFFFF;
      margin-top: 0;
      margin-bottom: 20px;
      text-align: left;
    }
    #shopify-section-{{ section.id }} .newsletter__subheading{
      font-weight: 400;
      font-size: 16px;
      line-height: 1.3;
      color: #FFFFFF;
      margin: 0;
      max-width: 100%;
      text-align: left;
    }
   #shopify-section-{{ section.id }} .newsletter__wrapper{
     background-color: transparent;
     display: flex;
     justify-content: space-between;
     padding: 0;
   }
    #shopify-section-{{ section.id }} .field:before,
    #shopify-section-{{ section.id }} .field:after{
      display: none;
    }
    #shopify-section-{{ section.id }} .field__input{
      max-width: 580px;
      height: 73px;
      border-radius: 100px;
      padding: 28px 10px 28px 60px;
      width: 100%;
    }
    #shopify-section-{{ section.id }} .field__input::placeholder{
      color: #000;
      opacity: 1;
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #252525;
      opacity: 0.5;
    }
    #shopify-section-{{ section.id }} .newsletter-form__field-wrapper,
    #shopify-section-{{ section.id }} form{
      max-width: 100%;
      position: relative;
    }
    #shopify-section-{{ section.id }} .field svg{
      position: absolute;
      top: 25px;
      z-index: 9;
      left: 30px;
    }
    #shopify-section-{{ section.id }} button{
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
      max-width: 183px;
      background: #00B67A;
      border-radius: 83px;
      height: 53px;
      top: 10px;
      right: 30px;
      width: 100%;
    }
    #shopify-section-{{ section.id }} .field__input:focus{
      box-shadow: none;
    }
         #shopify-section-{{ section.id }} .form_sec{
         width: 50%;
       }
    @media (max-width: 1024px){
      #shopify-section-{{ section.id }} .newsletter__wrapper{
        flex-direction: column;
        align-items: center;
      }
    }
     @media (max-width: 1024px){
       #shopify-section-{{ section.id }} .form_sec{
         width: 100%;
       }
       #shopify-section-{{ section.id }} .field{
         flex-direction: column;
          row-gap: 20px;
       }
       #shopify-section-{{ section.id }} button,
       #shopify-section-{{ section.id }} .field__input{
         height: 65px;
         max-width: 100%;
         width: 100%;
       }
       #shopify-section-{{ section.id }} button{
         position: static;
       }
       #shopify-section-{{ section.id }} .field svg{
         top: 22px;
       }
     }
{% endstyle %}

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.newsletter.settings.full_width.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Subscribe to our emails",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
