<section class="relative bg-bp-blue-light">
  <div class="relative inset-0 mx-auto mb-12 flex h-full max-w-7xl justify-center md:absolute md:mb-0 md:justify-end">
    <div class="page-hero-bg relative">
      {% if section.settings.background_image %}
        {% render 'product-media', media: section.settings.background_image %}
      {% else %}
        <img
          class="h-full w-full object-cover object-center"
          src="https://cdn.shopify.com/s/files/1/0667/4248/5269/files/homepage-background-image.png?v=1709048785"
          alt="Page Hero Background Image"
        >
      {% endif %}
      <div class="absolute bottom-0 right-0 w-80 translate-y-1/2">
        <img
          class="w-full"
          src="https://cdn.shopify.com/s/files/1/0667/4248/5269/files/page-hero-texture.png?v=1709048814"
          alt="Page hero texture"
        >
      </div>
    </div>
  </div>

  <div class="xl:bp-hidden absolute inset-0 h-full w-0 bg-gradient-to-r from-bp-blue-light via-bp-blue-light/80 to-transparent md:w-full ">
    &nbsp;
  </div>

  <div class="container relative pb-12 md:py-16">
    <div class="w-full md:w-3/4 lg:w-2/3 xl:w-1/2">
      {% if section.settings.label %}
        <p class="mb-3 text-sm font-bold uppercase text-bp-teal-dark">
          {{ section.settings.label }}
        </p>
      {% endif %}
      <h1 class="text-bp-teal-dark">{{ section.settings.h1 }}</h1>
      <p class="my-3 text-lg font-bold text-bp-blue-dark">{{ section.settings.subtext }}</p>
      {% if section.settings.paragraph %}
        <p class="mb-6">
          {{ section.settings.paragraph }}
        </p>
      {% endif %}

      <a href="{{ routes.all_products_collection_url }}" class="btn border-bp-orange bg-bp-orange">
        {{- section.settings.button_text -}}
      </a>
    </div>
  </div>
</section>

{% style %}
  .page-hero-bg img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: transparent;
  }
{% endstyle %}
{% schema %}
{
  "name": "Page Hero",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label"
    },
    {
      "type": "text",
      "id": "h1",
      "label": "H1 Text"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Subtext"
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": "Paragraph Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ]
}
{% endschema %}
